<mat-expansion-panel
    fxLayout="column"
    fxLayoutAlign="space-between stretch"
    fxLayoutGap="4px"

    class="postContainer"
>
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{post.title}}
        </mat-panel-title>
        <mat-panel-description>
            Posted by: {{post.userId}}
        </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
        {{post.body}}
        <mat-list
            *ngIf="getComments() && getComments().length"
        >
            <div mat-subheader>Comments</div>
            <mat-list-item *ngFor="let comment of getComments()">
              <mat-icon mat-list-icon>comment</mat-icon>
              <div mat-line>{{comment.name}}</div>
              <div mat-line>{{comment.email}}</div>
              <div mat-line>{{comment.body}}</div>
            </mat-list-item>
          </mat-list>
    </ng-template>
    
</mat-expansion-panel>