<mat-expansion-panel
    fxLayout="column"
    fxLayoutAlign="space-between stretch"
    fxLayoutGap="4px"

    class="postContainer"
>
    <mat-expansion-panel-header>
        <mat-panel-title
            fxLayout="row"
            fxLayoutAlign="spacebetween center"
            fxLayoutGap="5px"
        >
            <mat-icon>forum</mat-icon>
            <span>{{post.title}}</span>
        </mat-panel-title>
        <mat-panel-description>
            Posted by: {{post.userId}}
        </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
        <div>
            {{post.body}}
        </div>
        <mat-list
            fxLayout="column"
            fxLayoutGap="8px"

            *ngIf="getComments() && getComments().length"
        >
            <div mat-subheader>Comments</div>
            <app-comment
                *ngFor="let comment of getComments()"
                [comment]=comment
            ></app-comment>
        </mat-list>
    </ng-template>
    
</mat-expansion-panel>