#newPostContainer
    position: relative
    min-height: 220px
    @media screen and (max-width: 599px)
        min-height: 285px

#newPostButton
    color: #64dd17
    position: absolute
    left: 50%
    transform: translateX(-50%)
    top: 35%

#newPostIcon
    height: 45px !important
    width: 45px !important
    font-size: 45px
    
app-new-post
    visibility: hidden
    position: absolute
    left: 50%
    transform: translateX(-50%)

